<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entradas</title>
</head>
<body>
    <div>LISTA ENTRADAS</div>
    {% if entradas %}
    <table>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Descripcion</th>
                <th>NumeroAsiento</th>
                <th>Precio</th>
                <th>Sector</th>
            </tr>
        </thead>
        {% for entrada in entradas %}
        <tbody>
            <tr>
                <td>{{ entrada.Categoria }}</td>
                <td>{{ entrada.Descripcion }}</td>
                <td>{{ entrada.NumeroAsiento }}</td>
                <td>{{ entrada.Precio }}</td>
                <td>{{ entrada.Sector }}</td>
                <td><a href="/eliminarEntrada/{{ entrada.id }}">Eliminar</a></td>
                <td><a href="/actualizarEntrada/{{ entrada.id }}">Actualizar</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <div>No se encontraron entradas</div>
    {% endif %}
    <a href="../">Volver Atrás</a>
    <a href="../agregarEntrada">Agregar Entradas</a>
</body>
</html>